In [9]:
for i in [1,2,3,4,5]:
    print (i)
    for j in [1,2,3,4,5]:
        print (j)
        print (i+j)
    print (i)

#print ("done looping")

1
1
2
2
3
3
4
4
5
5
6
1
2
1
3
2
4
3
5
4
6
5
7
2
3
1
4
2
5
3
6
4
7
5
8
3
4
1
5
2
6
3
7
4
8
5
9
4
5
1
6
2
7
3
8
4
9
5
10
5

In [10]:
import re
my_regex = re.compile("[0-9] + ", re.I)

In [11]:
my_regex

re.compile(r'[0-9] + ', re.IGNORECASE|re.UNICODE)

In [12]:
def double(x):
    return x * 2

In [13]:
def apply_to_one(f):
    return f(1)

In [14]:
my_double = double
x = apply_to_one(my_double)
x

2

In [15]:
y = apply_to_one(lambda x: x + 4)
y

5

In [19]:
another_double = lambda x: x * 2
result = another_double(5)
result

10

In [20]:
def another_double(x): return 2 * x
another_double(3)

6

In [21]:
def my_print(message="my default message"):
    print (message)

In [33]:
string = my_print()
string

my default message

In [22]:
my_print()

my default message

In [23]:
my_print("hello")

hello

In [27]:
def substract(a=0, b=0):
    return a - b

In [30]:
print(substract(10, 5))
print(substract(0, 5))
print(substract(b = 5))

5
-5
-5

In [35]:
multi_line_string = """This is the first line.
 and this is the second line
 and this is the third line"""

multi_line_string

'This is the first line.\n and this is the second line\n and this is the third line'

In [36]:
try:
    print(0/0)
except ZeroDivisionError:
    print("Cannot divide by zero")

Cannot divide by zero

In [41]:
integer_list = [1,2,3,4]
sum = 0
for i in integer_list:
    sum += i
print(sum)

10

In [45]:
x = range(10)

first_three = x[:3]
first_three

range(0, 3)